@media (max-width: 1690px) {

  .profitable-items__wrap:not(:last-child) {
    padding-right: 34px;
  }
  
  .profitable-items__wrap:not(:first-child) {
    padding-left: 34px;
  }

  .section-ad__left, .section-ad__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: auto;
    padding: 0;
    margin-bottom: 100px;
  }

  .circul-block {
    width: 250px;
    height: 250px;
  }

  .detail-right {
    min-height: 550px;
    justify-content: center;
  }

  .section-ad__inner {
    flex-direction: column;
  }

  .section-ad__left {
    border: none;
    margin-top: 50px;
  }



}


@media (max-width: 1600px) {
 
  .section-title__title {
    margin-right: 25px;
    h1 {
      font-size: 85px;
      line-height: 100px;
    }
  }

  .profitable-items {
    flex-wrap: wrap;
  }

  .profitable-items__wrap:not(:last-child) {
    padding-right: 0px;
    margin-right: 20px;
    border: none;
  }

  .profitable-items__wrap:not(:first-child) {
    padding-left: 0px;
    margin-right: 20px;
  }

  .profitable-items__wrap {
    margin-bottom: 60px;
  }

}


@media (max-width: 1450px) {
 
  .section-title__title {
    h1 {
      font-size: 65px;
      line-height: 80px;
    }
  }

  .section-title__wrap, .section-title__wrap-button {
    padding-left: 60px;
  }

  .section-title__banner {
    margin-left: 60px;
  }

  .button {
    padding: 22px 49px;
    svg {
      margin-left: 76px;
    }
  }

  .section-title__icon {
    max-width: 570px;
  }

  .section-profitable__inner {
    padding-left: 120px;
  }

  .profitable-items__title {
    font-size: 28px;
    line-height: 34px;
    margin-top: 46px;
  }

  .calculator__price-title {
    margin-right: 20px;
    font-size: 22px;
  }

  .btn_white {
    margin-right: 15px;
  }

  .section-faq__img {
    width: 160%;
  }

  .section-faq__right {
    max-width: 730px;
  }

  .contact__title, .contact__connection-phone {
    font-size: 40px;
    line-height: 48px;
  }

  .contact__social-list a {
    width: 70px;
    height: 70px;
  }

  .footer__call .call__callback-wrap {
    margin-left: 15px;
  }

  .footer__logo {
    width: 9.333%;
  }

  .footer__nav {
    width: 46.25%;
  }



}



@media (max-width: 1200px) {

  .title-icon__img {
    width: 90px;
    height: 90px;
  }

  .section-title__title {
    h1 {
      font-size: 55px;
      line-height: 70px;
    }
  }

  .section-title__icon {
    max-width: 500px;
  }

  .footer {
    .header__nav {
      width: 64.66%;
    }
  }

  .call {
    width: 22%;
    flex-shrink: 0 ;
    margin: 0 auto;
    flex-direction: column;

  }

  .call__callback {
    margin-right: 0;
  }

  .call__callback-wrap {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .section-title__wrap, .section-title__wrap-button {
    padding-left: 0px;
  }

  .section-title__banner {
    margin-left: 0px;
  }

  .section-profitable__inner {
    padding-left: 60px;
  }

  .call__phone {
    display: flex;
    align-items: center;
    height: 50%;
  }

  .section-profitable__title {
    margin-bottom: 70px;
    font-size: 40px;
    line-height: 50px;
  }

  .profitable-items {
    flex-wrap: wrap;
  }

  .profitable-items__wrap:not(:last-child) {
    padding-right: 0px;
    border: none;
  }

  .profitable-items__wrap:not(:first-child) {
    padding-left: 0px;
    border: none;
  }

  .profitable-items__wrap {
    margin: 20px;
  }

  .form-calc__inner {
    flex-direction: column;
  }

  .form-calc__left {
    margin-bottom: 50px;
  }

  .form-calc__right {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    justify-content: space-between;
    margin-left: 0px;
  }

  .form-calc__old {
    margin-right: 15px;
  }

  .form-calc__for-what {
    margin-right: 15px;
    align-self: center;
  }

  .calculator__wrap-bottom {
    flex-direction: column;
  }
  
  .calculator__price-wrap {
    margin-bottom: 25px;
  }

  .section-ad__title-wrap {
    padding-left: 30px;
  }

  .list-slider {
    width: 1300px;
  }

  .slick-slide {
    margin-right: 40px;
  }

  .list-slider__item, .slick-track {
    height: 500px;
  }

  .list-slider {
      top: 170px;
  }

  .section-faq__img {
    display: none;
  }

  .section-faq__inner {
    flex-direction: column;
    align-items: center;
  }

  .section-faq__left, .section-faq__title {
    max-width: 100%;
  }

  .section-faq__title {
    margin-bottom: 24px;
  }

  .contact__title, .contact__connection-phone {
    font-size: 30px;
    line-height: 38px;
  }

  .contact__social-list a {
    width: 50px;
    height: 50px;
  }

  .contact__address {
    font-size: 20px;
    line-height: 28px;
  }

  .footer__logo {
    width: 11.333%;
  }

  .footer__call.call {
    width: 25%;
    flex-grow: 0;
    margin-left: 10px;
  }

  .footer__nav {
    flex-grow: 1;
  }

  .footer__logo {
    svg {
      width: 100px;
      height: 25px;
    }
  }

  .header__nav {
    width: 64.25%;
  }


}



@media (max-width: 992px) {

  .header__inner {
    height: 90px;
  }

  .section-title__inner {
    padding: 0 30px;
  }

  .section-title__wrap {
    padding-top: 30px;
    flex-direction: column;
  }

  .section-title__title {
    margin-bottom: 40px;
    h1 {
      font-size: 50px;
      line-height: 65px;
    }
  }

  .button {
    margin: 0 auto;
    padding: 16px;
    svg {
      margin-left: 46px;
    }
  }

  .section-profitable__inner {
    padding: 70px 30px;
  }

  .section-profitable__title {
    text-align: center;
  }

  .profitable-items {
    justify-content: center;
  }

  .section-calculator__title {
    font-size: 40px;
    line-height: 50px;
  }

  .form-calc__info-region {
    margin-right: 24px;
  }

  .section-ad__title {
    font-size: 40px;
    line-height: 50px;
  }
  
  .section-slider__title {
    font-size: 40px;
    line-height: 50px;
  }

  .section-slider__inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .list-slider {
    top: 80px;
    left: 460px;
  }

  .section-slider__wrap {
    max-width: 400px;
  }

  .section-faq__title {
    font-size: 40px;
    line-height: 50px;
  }

  .section-info__title {
    font-size: 40px;
    line-height: 50px;  
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
  }

  .footer__contact {
    order: 1;
  }

  .footer__menu {
    flex-direction: column;
    height: auto;
    margin-top: 26px;
    border-top: none;
  }

  .contact__title, .footer__call.call {
    display: none;
  }

  .footer__logo {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 56px;
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(201,216,239,0.75);
    }
    svg {
      width: 120px;
      height: 28px;
    }
  }

  .footer {
    .nav-menu__list {
      flex-direction: column;
      li {
        margin-bottom: 15px;
      }
    }
    .footer__nav {
      width: 100%;
    }
  }

  .contact__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact__connection {
    order: 1;
    margin-bottom: 24px;
  }

  .contact__address {
    max-width: none;
  }

  .contact__social {
    position: relative;
    width: 100%;
    margin-bottom: 49px;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -24px;
      left: 0;
      background-color: rgba(201,216,239,0.75);
    }
  }

  .contact__social-list {
    justify-content: center;
    a {
      width: 65px;
      height: 65px;
    }
  }

  .help-popup__img {
    display: none;
  }

  .help-popup__block {
    margin: 0 auto;
    border-radius: 12px;
  }

  


}



@media (max-width: 860px) {

  .header__nav, .call {
    display: none;
  }

  .header__inner {
    height: 50px;
    padding: 0 15px;
  }

  .header__logo {
    width: auto;
  }

  .burger-wrap {
    display: block;
  }

  .benefit {
    margin-left: 24px;
  } 

  .section-slider__inner {
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
  }

  .list-slider {
    position: relative;
    left: 0;
  }

  .section-slider__bottom {
    display: none;
  }

  .section-slider__bottom-small {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    .section-slider__arrows {
      order: -1;
      margin-top: 0;
      margin-bottom: 25px;
    }
    .btn {
      max-width: 352px;
    }
  }

  .section-slider__wrap {
    width: 100%;
    max-width: 100%;
  }

  .section-slider__subtitle {
    margin-bottom: 0;
  }

  .list-slider {
    top: 40px;
  }

  .list-slider__item, .slick-track {
    height: 400px;
  }

}

@media (max-width: 768px) {

  .calculator__top, .calculator__bottom, .calculator__wrap-bottom {
    padding: 50px;
  }

  .section-calculator__title {
    margin-top: 70px;
    margin-bottom: 50px;
  } 

  .btn {
    padding: 20px 25px;
    svg {
      margin-left: 15px;
    }
  }

  .detail-right {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 10px);
    height: calc(100vh - 20px);
    margin: 10px auto 0;
    background-color: #fff;
    color: $color-text;
    border-radius: 12px;
    .cross-popup {
      top: 12px;
      right: 30px;
    }
    .detail-right__inner {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 70px 30px;
      .detail-right__title {
        max-width: none;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 14px;
        margin-top: 20px;
      }
      .detail-right__subtitle {
        margin-bottom: 34px;
        font-size: 13px;
        line-height: 18px;
      }
      .benefit__list {
        margin-bottom: 34px;
        li {
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 24px;
        }
      }
      .benefit {
        margin-left: 0px;
      }
    }
    .detail-right__col-left, .detail-right__col-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .section-slider__bottom-small .btn {
    max-width: 307px;
  }

  .section-slider__inner {
    padding: 50px 30px;
  }

  .list-faq__item-title {
    line-height: 39px;
  }

  .list-faq__item-line {
    margin: 35px 0;
  }

  .section-info {
    background-size: cover;
    background-position: 50% 50%;
  }

  .section-info__inner {
    flex-direction: column;
  }

  .section-info__left {
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 28px;
  }

  .section-info__title-wrap {
    margin-left: 0;
    margin-top: 29px;
  }

  .section-info__left, .section-info__right {
    height: auto;
  }

  .section-info__left {
    margin-top: 50px;
  }

  .section-info__right {
    margin-bottom: 50px;
  }
  
}


@media (max-width: 600px) {

  .section-title__inner {
    padding: 0 15px;
  }

  .section-title__title {
    margin-right: auto;
    margin-bottom: 18px;
    h1 {
      font-size: 32px;
      line-height: 42px;
    }
  }

  .section-title__wrap {
    border: none;
    padding-top: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .section-title__icon {
    display: none;
  }

  .button {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    svg {
      width: 86px;
      margin-left: 38px;
    }
  }

  .section-title__banner {
    margin-bottom: 37px;
    img {
      border-radius: 12px;
      padding-bottom: 0;
    }
  }

  .section-title__icon.forPhone {
    display: flex;
    flex-direction: column;
    max-width: none;
    .title-icon {
      margin-bottom: 27px;
    }
  }

  .title-icon__img {
    width: 122px;
    height: 122px;
  }

  .section-profitable__title {
    text-align: left;
  }

  .section-profitable__slider {
    display: block;
  }

  .profitable-items__wrap {
    display: none;
  }
  
  .swiper-button-next, .swiper-button-prev {
    display: block;
  }
   
  .swiper-pagination {
    display: flex;
  }
  
  .swiper-pagination-bullet {
    display: block;
  }

  .section-profitable__inner {
    padding: 50px 15px;
  }

  .profitable-items__wrap {
    margin: 0;
  }

  .profitable-items__wrap:not(:last-child) {
    margin-right: 0px;
  }

  .profitable-items__wrap:not(:first-child) {
    margin-right: 0px;
  }

  .profitable-items__wrap {
    margin-bottom: 0px;
  }

  .section-calculator__inner {
    padding: 0px 15px;
  }

  .form-calc__info {
    flex-direction: column;
  }

  .form-calc__info-region {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .calculator__top, .calculator__bottom, .calculator__wrap-bottom {
    padding: 15px;
  }

  .form-calc__info-region, .form-calc__info-factor {
    max-width: none;
  }

  .calculator__btn-wrap {
    flex-direction: column;
  }

  .btn {
    justify-content: space-between;
  }

  .btn_white {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .section-calculator__title, .section-profitable__title {
    font-size: 25px;
    line-height: 32px;
  }

  .profitable-items__title {
    font-size: 23px;
    line-height: 28px;
  }

  .btn-for-what {
    padding: 20px 30px;
  }

  .calculator__price-title {
    margin-right: 15px;
    font-size: 20px;
  }

  .calculator__price {
    font-size: 22px;
  }

  .section-ad__title {
    font-size: 25px;
    line-height: 32px;
  }

  .section-ad {
    padding: 0 15px;
  }

  .section-ad__left, .section-ad__right {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .circul-block {
    margin-right: 0;
    margin-bottom: 24px;
    img {
      width: 100%;
    }
  }

  .section-ad__about-block {
    .calculate-online, .btn-more-section-ad {
      margin: 0 auto;
    }
  }

  .section-ad__right-main {
    width: 100%;
    flex-direction: column;
  }

  .section-slider__title {
    font-size: 25px;
    line-height: 32px;
  }

  .section-slider__inner {
    padding: 50px 15px;
  }

  .section-faq__inner {
    padding: 45px 15px 24px;
  }

  .section-faq__title {
    font-size: 25px;
    line-height: 32px;
  }

  .list-faq__item-title {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 0;
  }

  .list-faq__item-content p {
    font-size: 13px;
    line-height: 18px;
  } 

  .list-faq__item-btn {
    width: 14px;
    height: 14px;
  }

  .list-faq__item-btn::before {
    height: 14px;
    left: 6px;
  }

  .list-faq__item-btn::after {
    width: 14px;
    top: 6px;
  }

  .list-faq__item-line {
    margin: 14px 0;
  }

  .section-info__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }

  .section-info__inner {
    padding: 0px 15px;
  }

  .section-info__subtitle {
    text-align: center;
  }

  .footer {
    padding-top: 0px;
    .nav-menu__list {
      align-items: flex-start;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
        svg {
					display: block;
				}
        a {
          border: none;
        }
      }
    }
    .nav-menu {
      padding: 0 15px;
    }
  }

  .footer__inner {
    padding: 0;
  }

  .footer__contact {
    margin: 26px 0;
  }

  .contact__inner {
    padding: 24px 0;
  }

  .contact__connection-phone {
    font-size: 23px;
    line-height: 28px;
  }

  .contact__connection-mail, .contact__address-title, .contact__address {
    font-size: 13px;
    line-height: 18px;
  }

  .footer .nav-menu__list li a {
    font-size: 13px;
    line-height: 18px;
  }

  .contact__inner {
    align-items: start;
  }

  .contact__social-list {
    justify-content: flex-start;
  }

  .contact__address-wrap, .contact__social, .contact__connection {
    padding: 0 15px;
  }

  .footer__map {
    height: 195px;
    object-fit: cover;
  }


} 



@media (max-width: 480px) {

  .list-slider {
    width: 100%;
  }

  .slick-slide {
    margin-right: 0;
  }

  .list-slider__item, .slick-track {
    height: 334px;
  }

  .popup__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .help-popup__block {
    padding: 70px 10px 50px;
  } 

  .popup__block-inner {
    height: auto;
  }

  #volume {
    width: 75px;
    height: 36px;
  }

  .tooltip__wrap {
    position: fixed;
    width: 90%;
    height: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: auto;
    padding: 0;
    margin: 0 auto;
  }

  .tooltip__block {
    width: 100%;
  }

  .tooltip__block .tooltip__arrow {
    display: none;
  }

  .form-calc__options .tooltip__block {
    width: 100%;
  }



}



