$color-text: #18183D;
$accent-color: #2B38F5;
$light-blue: #D7E2F3;


%border {
  border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
	&:hover {
		border-bottom: 2px solid $accent-color;
	}
}

@mixin grid($width) {
	max-width: $width;
	width: 100%;
	margin: 0 auto;
}






